.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  max-width: 1024px;
  padding-bottom: 250px;
  isolation: isolate;
}

.header {
  padding-bottom: 64px;
  width: 60%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  min-height: 500px;
  position: fixed;
  top: 64px;
  right: 64px;
  left: 64px;
  bottom: 64px;
  padding-left: 1132px;
}

.grayBackground {
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: hsl(195deg, 20%, 86%);
}

.controlColumn {
  width: 50%;
}
