.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a {
  color: white;
}

.footer a:focus,
.footer a:hover {
  opacity: 0.7;
}
